@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
  box-sizing: border-box;
  background: #191b1b;
  color: rgb(5, 5, 5);
  font: 700 16px "Roboto", sans-serif;
}

.Words{
  /*width*/
  display: block;
  width: 800px;
  height: 105px;
  border: 1px solid #2E9AFF;

  /*Font*/
  font-size: 28px;
  text-align: left;
  color: rgb(15, 15, 15);
  False{
    color: red;
    text-decoration: underline;
  }
  Correct{
    color: rgb(5, 5, 5)
  }
}

.Button{
  display: inline-block;
  padding: 5px 10px;
  cursor: pointer;
  font: 700 20px "Roboto", sans-serif;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: rgb(5, 5, 5);
  background-color: rgb(0, 174, 255);
  border: none;
  box-shadow: 0 6px #131313;
}

.Button:hover{
  box-shadow: 0 6px rgb(7, 7, 7);
}

.Button:active{
  box-shadow: 0 2px rgb(7, 7, 7);
  transform: translateY(4px);
}

.Block{
  margin-left: auto;
  margin-right: auto;
  margin-top: 17%;
  width: 800px;
  /*.Words{
  }
  .Button{
  }*/
}