@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
  box-sizing: border-box;
  background: #191b1b;
  color: rgb(116, 116, 116);
  font: 700 16px "Roboto", sans-serif;
}


.Words{
  display: block;
  width: 800px;

  /*Font*/
  font-size: 28px;
  text-align: left;
  False{
    color: rgb(155, 83, 92);
    text-decoration: underline;
  }
  Correct{
    color: rgb(68, 68, 68);
  }
}


.Button{
  display: inline-block;
  padding: 5px 10px;
  cursor: pointer;
  font: 700 20px "Roboto", sans-serif;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: rgb(92, 91, 91);
  background-color: rgb(36, 36, 36);
  border: none;
}

.Button:hover{
  color: rgb(77, 76, 76);
}

.Button:active{
  color: rgb(65, 64, 64);
}

.ButtonBG{
  display: inline-block;
  background-color: rgb(36, 36, 36);
}


.Block{
  margin-left: auto;
  margin-right: auto;
  margin-top: 17%;
  width: 800px;
  .Words{
    margin-bottom: 10px;
  }
}


.results{
  color: rgb(92, 91, 91);
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  .res{
    display: inline-block;
  }
}

/*info*/
.info{
  
  margin: auto;
  width: 850px;
  text-align: justify;
  margin-top: 20%;
  h2{
    margin-left: 20px;
    margin-top: -22px;
  }
  a{
    color: #474747;
  }
}


::-webkit-scrollbar {
  width: .5rem;
  -webkit-transition: none;
  transition: none;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(56, 56, 56);
  height: 25px;
  -webkit-transition: none;
  transition: none;
}