@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
  display: flex;
  background: #191b1b;
  color: rgb(116, 116, 116);
  font: 700 16px "Roboto", sans-serif;
}

.Button{
  padding: 5px 10px;
  cursor: pointer;
  font: 700 20px "Roboto", sans-serif;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: rgb(92, 91, 91);
  background-color: rgb(36, 36, 36);
  border: none;
}

.Button:hover{
  color: rgb(77, 76, 76);
}

.Button:active{
  color: rgb(65, 64, 64);
}

.buttonBG{
  display: inline-block;
  background-color: rgb(36, 36, 36);
}

.InputBox{
  opacity: 0;
}

.Home{
  z-index: 999;
  position: absolute;
}

.Block{
  position: absolute;
  max-width: 700px;
  min-width: 370px;
  margin: 20% 30% 30% 30%;
}

.Words{
  margin-bottom: 10px;
  font-size: 28px;
  text-align: justify;
  false{
    color: rgb(155, 83, 92);
    text-decoration: underline;
  }
  correct{
    color: rgb(68, 68, 68);
  }
}

.results{
  padding-top: 20%;
  position: absolute;
  font-size: 28px;
  .stat{
    background-color:rgb(36, 36, 36);
    padding:6px;
    margin:5px;
    .name-tag{
      color: rgb(92, 91, 91);
      display: inline-block;
      background-color:rgb(36, 36, 36);
      width: 70px;
    }
    .value{
      text-align: center;
      display: inline-block;
      background-color:rgb(36, 36, 36);
      min-width: 50px;
      color: rgb(82, 131, 103);
    }
  }
}

::-webkit-scrollbar {
  width: .5rem;
  -webkit-transition: none;
  transition: none;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(56, 56, 56);
  height: 25px;
  -webkit-transition: none;
  transition: none;
}