body {
  background: #191b1b;
  color: rgb(5, 5, 5);
  font: 700 16px "Roboto", sans-serif;
}

.Words {
  color: rgb(20, 20, 20);
  False{
    color: red;
  }
  Correct{
    color: rgb(10, 10, 10);
  }
}