* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: rgb(5, 5, 5);
  font: 700 16px "Roboto", sans-serif;
  font-size: 1.5rem
}

.githubLink {
  position: absolute;
  right: 20px;
  top: 20px;
}

.githubLink > img {
  opacity: 0.3;
  width: 30px;
  height: 30px;
  transition: all .5s ease;
}

.githubLink:hover > img {
  opacity: 1;
}

body {
  background: #191b1b;
}

.sentenceContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.sentence {
  display: flex;
  align-items: center;
  width: 75vw;
  height: 70vh;
  white-space: pre;
  overflow: hidden;
}

#completedLeters {
  margin-left: 35%;
}

#currentLetter {
  background-color: rgba(1,1,1,.2)
}

.right {
  color: rgb(0, 177, 0);
}

.wrong {
  color: rgb(228, 1, 1);
}

.stats {
  display: flex;
  justify-content: space-between;
}

.statsContainer {
  margin: 0 auto;
  width: 60vw;
}

.stats div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tapScreen {
  position: absolute;
  left: 50%;
  top: 70%;
  transform: translate(-50%,-50%);
  width: 15em;
  text-align: center;
  font-weight: 700;
  display: none;
}

.inputBox {
  position: absolute;
  top: -100px;
}