{% extends "base.html" %}

{% block head %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'home.css' %}">
{% endblock %}

{% block title %}
    FastPrint - Home
{% endblock %}

{% block content %}
    <div class="FastPrint">
        <h1><span>Fast</span>Print</h1>
        <img src="{% static 'images/keyboard.png' %}" alt="keyboard.png">
        <h2>Improve Your <span>Typing Skills</span></h2>
        <a href="practice" class="Button">Start Practice</a>
    </div>
    <div class="info">
        <h1>• About</h1>
        <h2>
            FastPrint is a typing test, here you can practice in fast and correct typing.
        </h2>
        <h1>• Links</h1>
        <h2>
            <a href="https://github.com/omegadreamer">GitHub</a> 
            <a href="https://t.me/omega_vl">Telegram</a>
        </h2>
        <h1>• CPM </h1>
        <h2>
            "characters per minute", here im using
            formul - "(chars - mistakes) / (seconds/60)".
        </h2>
        <h1>• WPM</h1>
        <h2>
            "words per minute", formul - "CPM/5"
            where "5" - average number of chars in word.
        </h2>
    </div>
{% endblock %}
