{% extends "base.html" %}

{% block head %}
    {% load static %}
    <script src=https://cdnjs.cloudflare.com/ajax/libs/mathjs/3.3.0/math.min.js></script>
    <script type="module" src='{% static "practice.js" %}' defer></script>
    <link rel="stylesheet" href="{% static 'practice.css' %}">
{% endblock %}

{% block title %}FastPrint - Practice{% endblock %}

{% block content %}
    <input type="text" class="InputBox" id="InputBox">
    <div class="results">

        <div class="stat" id="WPM">
            <div class="name-tag">WPM</div>
            <div class="value" id="value_WPM"></div>
        </div>

        <div class="stat" id="CPM">
            <div class="name-tag">CPM</div>
            <div class="value" id="value_CPM"></div>
        </div>

        <div class="stat" id="Mistakes">
            <div class="name-tag"> <img src="{% static 'images/mistake.png' %}" alt="Uncorrect" width="28px" height="28px"> </div>
            <div class="value" id="value_Mistakes"></div>
        </div>

        <div class="stat" id="Time">
            <div class="name-tag"> <img src="{% static 'images/timer.png' %}" alt="timer" width="28px" height="28px"> </div>
            <div class="value" id="value_Timer"></div>
        </div>

    </div>
    <div class="Block" id="Block">
        <div class="Words" id="Words"></div>
        <button class="Button" id="Restart"> <img src="{% static 'images/restart.png' %}" alt="Restart" width="19px" height="19px"> </button>
        <button class="Button" id="Lenguage" url="#">Eng</button>
        <div class="buttonBG" id="WordsCount">
            <button class="Button">5</button>
            <button class="Button">10</button>
            <button class="Button">25</button>
            <button class="Button">50</button>
            <button class="Button">75</button>
        </div>
    </div>
{% endblock %}