{% extends "base.html" %}

{% block head %}
    {% load static %}
    <script type="module" src='{% static "practice.js" %}' defer></script>
    <link rel="stylesheet" href="{% static 'practice.css' %}">
{% endblock %}

{% block title %}FastPrint - Practice{% endblock %}

{% block content %}
    <input type="text" class="InputBox" id="InputBox">
    <div class="Block" id="Block">
        <div class="Words" id="Words"></div>
        <button class="Button" id="Restart">Restart</button>
        <button class="Button" url="#">English</button>
        <button class="Button" url="#">Words</button>
    </div>
{% endblock %}