{% extends "base.html" %}

{% block head %}
    {% load static %}
    <script type="module" src='{% static "practice.js" %}' defer></script>
    <link rel="stylesheet" href="{% static 'practice.css' %}">
{% endblock %}

{% block title %}FastPrint - Practice{% endblock %}

{% block content %}
    <input type="text" class="InputBox" id="InputBox">
    <div class="Block" id="Block">
        <div class="Words" id="Words"></div>
        <button class="Button" id="Restart">Restart</button>
        <button class="Button" id="Lenguage" url="#">Eng</button>
        <div class="ButtonBG" id="WordsCount">
            <button class="Button" id="W0" url="#">25</button>
            <button class="Button" id="W1" url="#">50</button>
            <button class="Button" id="W2" url="#">75</button>
            <button class="Button" id="W3" url="#">100</button>
        </div>
        <h1 class="Mistakes" id="Mistakes">Mistakes: 0</h1>
    </div>
{% endblock %}